/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.activity-action {
  float: left;
}

.activity-count {
  color: gray;
  float: left;
  margin-left: 5px;
}

.activity-pageURL {
  clear: left;
  padding-left: 96px;
}

.activity-pageURL-indented {
  clear: left;
  margin-left: 9px;
}

.activity-time {
  float: left;
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px;
}

#activity-toggle-dev {
  cursor: pointer;
  float: left;
  font-weight: bold;
}

.behavior-content-area {
  -webkit-box-flex: 1;
  border: none;
  font-size: 13px;
  height: 480px;
  line-height: 1.54;
  margin: 0;
  padding: 0;
  position: relative;
  width: 640px;
  z-index: 0;
}

.behavior-controls {
  float: right;
  display: inline-block;
  padding-top: 8px;
}

.behavior-extension-details {
  margin-bottom: 10px;
  margin-top: 15px;
  width: 100%;
}

.behavior-extension-icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  display: -webkit-box;
  float: left;
  min-height: 48px;
  width: 48px;
}

.behavior-extension-title {
  color: rgb(48, 57, 66);
  float: left;
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  -webkit-padding-start: 20px;
  -webkit-user-select: text;
}

#behavior-header-bottom-separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

#behavior-overlay {
  padding-top: 8px !important;
}

#behavior-search {
  right: 0px;
  text-align: left;
  width: 180px;
}

#behavior-tab-header {
  height: 58px;
  width: 100%;
}

#behavior-tab-panels {
  box-shadow: none;
  overflow-y: auto;
  width: 600px;
}

#close-behavior-overlay {
  background-image: -webkit-image-set(
      url(../images/chromium/close_dialog.png) 1x,
      url(../images/chromium/2x/close_dialog.png) 2x);
  background-repeat: no-repeat;
  border: none;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

#close-behavior-overlay:hover {
  background-image: -webkit-image-set(
      url('../images/chromium/close_dialog_hover.png') 1x,
      url('../images/chromium/2x/close_dialog_hover.png') 2x);
}

#close-behavior-overlay:active {
  background-image: -webkit-image-set(
      url('../images/chromium/close_dialog_pressed.png') 1x,
      url('../images/chromium/2x/close_dialog_pressed.png') 2x);
}

#delete-behavior-button:hover {
  opacity: .8;
}

#delete-behavior-button:active {
  opacity: 1;
}

.dev-details {
  padding-left: 88px;
}

#item-arrow {
  height: 8px;
  padding-right: 3px;
  width: 5px;
}

.item-list-count {
  margin-bottom: 3px;
}

#item-toggle {
  cursor: pointer;
  float: left;
  font-weight: bold;
}

#delete-activity-button {
  background-color: transparent;
  background-image: -webkit-image-set(
      url(../images/delete.png) 1x,
      url(../images/2x/delete.png) 2x);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: none;
  box-shadow: none;
  height: 16px;
  left: 3px;
  min-height: 16px;
  min-width: 16px;
  opacity: .15;
  padding-left: 8px;
  position: relative;
  top: 3px;
  width: 16px;
}

#delete-activity-button:hover {
  cursor: pointer;
  opacity: .8;
}

#delete-activity-button:active {
  opacity: 1;
}

.separator {
  border-top: 1px rgb(191, 191, 191) solid;
  margin-top: 15px;
  padding-top: 5px;
}
