/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.activity-action {
  float: left;
}

.activity-count {
  color: gray;
  margin-left: 5px;
}

.behavior-content-area {
  -webkit-box-flex: 1;
  border: none;
  font-size: 13px;
  height: 480px;
  line-height: 1.54;
  margin: 0;
  padding: 0;
  position: relative;
  width: 640px;
  z-index: 0;
}

.behavior-controls {
  float: right;
  display: inline-block;
}

.behavior-extension-details {
  margin-bottom: 10px;
  margin-top: 30px;
  max-width: 600px;
}

.behavior-extension-icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  display: -webkit-box;
  float: left;
  min-height: 48px;
  width: 48px;
}

.behavior-extension-title {
  color: rgb(48, 57, 66);
  float: left;
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  -webkit-padding-start: 20px;
  -webkit-user-select: text;
}

#behavior-header-bottom-separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

#behavior-tab-header {
  height: 58px;
  width: 100%;
}

#behavior-overlay {
  padding-top: 8px !important;
}

#behavior-tab-panels {
  box-shadow: none;
  overflow-y: scroll;
}

#close-behavior-overlay {
  background-image: -webkit-image-set(
      url(../images/search_clear_active.png) 1x,
      url(../images/2x/search_clear_active.png) 2x);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 16px;
  z-index: 1;
}

#item-arrow {
  height: 8px;
  padding-right: 3px;
  width: 5px;
}

.item-list-count {
  margin-bottom: 3px;
}
.activity-pageURL {
  clear: left;
}

.activity-pageURL-indented {
  clear: left;
  margin-left: 9px;
}

.activity-time {
  float: left;
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px;
}

.activity-pageURL {
  clear: left;
}

.activity-pageURL-indented {
  clear: left;
  margin-left: 9px;
}

#activity-toggle-dev {
  cursor: pointer;
  float: left;
  font-weight: bold;
}

#item-toggle {
  cursor: pointer;
  float: left;
  font-weight: bold;
}

#delete-behavior-button {
  background-color: transparent;
  background-image: -webkit-image-set(
      url(../images/delete.png) 1x,
      url(../images/2x/delete.png) 2x);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
  height: 36px;
  min-height: 26px;
  min-width: 26px;
  opacity: .6;
  padding: 0px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 36px;
}

#delete-behavior-button:hover {
  opacity: .8;
}

#delete-behavior-button:active {
  opacity: 1;
}

#delete-behavior-extension-id {
  font-weight: bold;
}
